/* General body styling */
body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

/* Center div styling */
.center {
  text-align: center;
  border: 1px solid #ddd;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
}

/* Banner styling */
.banner {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

/* Clock styling */
.clock {
  font-size: 18px;
  color: #666;
  background: yellowgreen;
  width: auto;
  height: 50px;
  text-align: center;
}
